body 
    #grad1 {
    background: #d1e0e0 ;
    background: linear-gradient(to  #d1e0e0, #c2d6d6, #b3cccc, #a3c2c2, #94b8b8 , #85adad);
}

h1 {
    color: white;
    text-align: center;

}

h2 {
    color: white;
    text-align: center;
    text-decoration: bold;
    background: #669999;
}

h3 {
	color: #293d3d;
	padding:10px;
}
	.box{
	color: #f0f5f5;
	}
p {
    font-family: arial;
    padding: 30px;
    
}

ul 
	.a{
	list-style-type: circle;
	padding:30px;
}

	.border1{
	float: left;
	color: black;
	background-color: #f0f5f5;
    width: 300px;
    border: 25px #334d4d;
    padding: 25px;
    margin: 25px;
	}

	.border2{
	float: center;
	color: white;
	background-color: #334d4d;
    width: 200px;
    border: 25px #f0f5f5;
    padding: 25px;
    margin: 25px;
	}

	.border3{
	float: right;
	color: black;
	background-color: #f0f5f5;
    width: 300px;
    border: 25px #334d4d;
    padding: 25px;
    margin: 25px;
	}


	
