h1	{color: #003d4d}

h2	{color: #99003d;}

a	{
	color: tomato;
	text-decoration: none;
}

#nav	{
	border: 5px dotted orange;
	margin: 10px 5px 15px 20px
}

#nav a	{
	text-decoration: none;
	color: lightblue
}

.recomended {
	font-family: monospace;
	font-variant: small-caps;
}

